
  <h3 x-large class="sample-content">Currency Profiles List:</h3>

  <hr>
   <ul>
    <li><ins><a href="https://en.wikipedia.org/wiki/United_States_dollar">US - Dollar</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Euro">EUR - Euro</a></ins></li>
    <li><ins><a href= "https://en.wikipedia.org/wiki/Pound_sterling">GBP - British Pound</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Indian_rupee"> INR - Indian Rupee</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Australian_dollar"> AUD - Australian Dollar</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Canadian_dollar"> CAD - Canadian Dollar</a></ins></li>
    <li><ins><a href="http://www.fxexchangerate.com/currencyimages/sgd-500.jpeg"> SGD - Singapore Dollar</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Swiss_franc"> CHF -Swiss Franc</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Malaysian_ringgit"> MYR -Malaysian Ringgit</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Japanese_yen"> JPY - Japanese Yen</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Chinese_yuan"> CNY - Chinese Yuan Renminbi</a></ins></li>

  





<!--<h3>Currency Profiles List:</h3>
<p></p>
<ul>
    <li><ins><a href="https://en.wikipedia.org/wiki/United_States_dollar">US - Dollar</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Euro">EUR - Euro</a></ins></li>
    <li><ins><a href= "https://en.wikipedia.org/wiki/Pound_sterling">GBP - British Pound</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Indian_rupee"> INR - Indian Rupee</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Australian_dollar"> AUD - Australian Dollar</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Canadian_dollar"> CAD - Canadian Dollar</a></ins></li>
    <li><ins><a href="http://www.fxexchangerate.com/currencyimages/sgd-500.jpeg"> SGD - Singapore Dollar</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Swiss_franc"> CHF -Swiss Franc</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Malaysian_ringgit"> MYR -Malaysian Ringgit</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Japanese_yen"> JPY - Japanese Yen</a></ins></li>
    <li><ins><a href="https://en.wikipedia.org/wiki/Chinese_yuan"> CNY - Chinese Yuan Renminbi</a></ins></li>
</ul>-->